version: '3'

services:
  twitch-archiver-v2:
    container_name: twitch-archiver-v2
    build: .
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    volumes:
      - ./data:/twitch-archive
    environment:
      - TWITCH_CLIENT_ID=
      - 'TWITCH_USER=user1,user2'
networks:
  proxy:
    external: true
